body {
    background-color: #f3f3f3;
}
.clickable {cursor: pointer;}
.hover {text-decoration: underline;}
.active{ height:10px; background:#c8c8c8; color:white;}
.thead {
    text-align: center; background:#c8c8c8;
}
td.noWid{
    width:100px;  !important;
    text-align: center;
}
td.idWid{
    width:150px;
    text-align: center;
}
td.nameWid{
    width:150px;
    text-align: center;
}
td.addWid{
    width:280px;
    text-align: center;
}

td.regWid{
    width:200px;
    text-align: center;
}
.cursor {cursor: pointer}

.modyfywidth {width: 100px}

.table-striped tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05) !important;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #93B874;
}

.header_container {
    background-color: #f3f3f3;
    border: 0;
    z-index: 10;
    top: 0;
    width: 100%;
}
.logouta {
    margin-right: 20px;
    color: #ffffff}
a:hover { color: #ffffff; text-decoration: none;}
.header {
    text-align: left;
    height: 40px;
    background-color: #93B874;
}
.headerlogouta {
    text-align: right;
    height: 20px;
    background-color: #93B874;
}

.headertext {
    padding-left: 10px;
    float:left;
    height: 40px;
    color: #ffffff;
}
.headerid {
    padding-right: 10px;
    padding-top: 10px;
    font-size : 20px;
    float:right; display:inline-block;
    height: 40px;
    color: #ffffff;
}

.span6 {margin-top: 50px;
        text-align: center;
        color :#93B874; }
.header h2,
.header h4 {
    display: inline;
}

.page-link:hover {
    z-index: 2;
    color: #93B874;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #93B874;
    background-color: #fff;
    border: 1px solid #dee2e6;
}
a {
    color: #93B874;
    text-decoration: none;
    background-color: transparent;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #93B874;
    border-color: #93B874;
}

.page-link:hover {
    z-index: 2;
    color: #93B874;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;
}
