<?xml version="1.0" encoding="UTF-8"?>
<!-- MapperConfig.xml -->
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>

    <typeAliases>
        <!-- 공통 Type / Alias -->
        <typeAlias alias="paramMap" type="java.util.HashMap" />
        <typeAlias alias="hashmap" type="java.util.HashMap" />
        <typeAlias alias="resultMap" type="java.util.HashMap" />
        <typeAlias alias="resultList" type="java.util.List" />
        <typeAlias alias="memberDto" type="org.example.model.MemberDto" />

        <package name="com.archi"/>
    </typeAliases>

</configuration>